# Milestone 2 - Adult Data Set To Compare Various Factors With Salary

#### We will be looking at a Adult Dataset that considers many variables such as Age, Working Class, Education Level, Occupation, Relationship, Race, Sex, Native Country, & Salary

#### We hope to get a insight into what factors produce a higher salary

## RESEARCH QUESTIONS:

### Question 1)  What is the correlation between the Working class of individuals in this dataset, and the hours they work per week? 

### Question 2) Lets compare Gender with hours/week. We will also consider the age level for more accurate comparisons. 

### Question 3) What is the correlation between Salary and Age Level & Hours worked/Week?

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from Scripts.function import load_process

In [2]:
df = load_process("../data/raw/adult.data")

NameError: name 'data_to_csv' is not defined

In [ ]:
#dfsave=pd.read_csv(load_process("../data/raw/adult.data"), encoding= 'utf-8')
#df.to_csv('adult.csv', index =False)

In [ ]:
df

In [ ]:
df.describe(exclude=np.object).T #numerical values

In [3]:
df.describe(exclude=np.number).T #categorical values, lets us see # of diff values in each category

NameError: name 'df' is not defined

In [4]:
df.isna().sum() #to check for missing values

NameError: name 'df' is not defined

# Exploratory Data Analysis

## To answer our research questions, we will analyze many factors with EDA

Lets see how big our dataset is:

In [5]:
df.shape

NameError: name 'df' is not defined

This means our data set has 32560 columns and 10 rows.

Lets see the Working class of individuals by their age:

In [6]:
df.plot(kind='scatter', x='Age', y='Work Class', c='DarkBlue')

NameError: name 'df' is not defined

Lets have a look at their working class and the hours they work per week:

In [ ]:
df.plot(kind='scatter', x='Hours/Week', y='Work Class', c='DarkBlue')

Lets have a look at their occupation and the hours they work per week:

In [ ]:
df.plot(kind='scatter', x='Hours/Week', y='Occupation', c='DarkBlue')

Lets see Scatterplots with all of our different variables

In [ ]:
sns.pairplot(data= df.select_dtypes(include='number'))

Explanation: This is supposed to show the relationship of each value with each other value. The x axis shows the number values and compares them with the y axis values that are non-number values. I guess this shows that there is not much relationships between the other variables in the dataset.

### Comparing variation of age based on hours/week:

In [ ]:
sns.pairplot(data= df.select_dtypes(include='number'), hue='Age')

# These few graphs above I am going to leave here for now in my EDA to maybe come back and fix later with better code if I get any ideas! But as you go further down, you will see more description under the graphs and in the analysis portion

### Boxplot:

In [ ]:
boxplot = df.boxplot(vert=False,fontsize=10)

#### To just look at one variable by itself we can use a histogram, this one helps us to see the differences in Age:

In [ ]:
df['Age'].plot(kind='hist', bins=40, figsize=(10, 5), facecolor='purple',edgecolor='black')

We can see that there are more people in this dataset from range 20-45

#### We can do the same thing as above for Hours/Week

In [ ]:
df['Hours/Week'].plot(kind='hist', bins=40, figsize=(10, 5), facecolor='purple',edgecolor='black')

We see that the majority average of hours/week is close to 40 hours/week

### Lets group our data: Lets see the relationships between occupation and age or hours/week. We will consider the averages for each occupation

In [ ]:
occupation = (df.groupby('Occupation')['Age', 'Hours/Week'] .mean() .reset_index())

In [ ]:
occupation

So this shows us the averages ages for each Occupation and the average hours worked per week for each Occupation.

#### Lets visualize the relationship between Age and Occupation:

In [ ]:
fig, ax = plt.subplots()
fig.set_size_inches(7,10)
sns.barplot(data= occupation, x= 'Age', y='Occupation')

Each job has a individuals working of many different age groups.

#### Lets view the variation of Age just throughout the whole dataset:

In [ ]:
fig, ax= plt.subplots()
fig.set_size_inches(20,5)
sns.countplot(data=df, x='Age')

#plt.xticks(rotation= 45)

Wow! There is even a 90 years old individual working. We can see that the starting age is 17 all the way to 90, but vast majority of working group age is from 18- 47.

##### Now, lets view the variation of hours worked per week throughout the whole dataset

In [ ]:
fig, ax= plt.subplots()
fig.set_size_inches(35,5)
sns.countplot(data=df, x='Hours/Week')

This again tells me that majority of the individuals in our datasett work around 40 hours/week. I am shocked to see that there is a pink point which tells us that someone worked 99 hours per week!

#### Now I would like to try to better compare hours worked/week with Work Class. I believe that people working privately or in their own bussiness would work more hours.

In [ ]:
fig, ax= plt.subplots()
fig.set_size_inches(20,5)
sns.violinplot(data=df, x='Work Class', y='Hours/Week')

I see that throughout all Working classes, average is still at 40 hours/week. However, we see that both self employed options do work more than 40 hours/week more than other working classes. 
But also, the hours/week are very distributed and vast throughout all working classes.

# Lets group data based on Working Class

In [ ]:
workingclass = (df.groupby('Work Class')['Age', 'Hours/Week'] .mean() .reset_index())

In [ ]:
workingclass

Older people, around the age of 47 are working 32 hours per week without pay! Hmm, interesting

# Lets group data based on Gender

In [ ]:
gender = (df.groupby('Sex')['Age', 'Hours/Week'] .mean() .reset_index())

In [ ]:
gender

Based on this, we can conclude that men worked more than women. However, another question arises, does age play a factor? Because, while men do work more, the average age for men in this dateset is higher than the average age for women. However, the difference in age isnt too drastic.

## Lets group data based on Education Level:

In [ ]:
education = (df.groupby('Education')['Age', 'Hours/Week'] .mean() .reset_index())

In [ ]:
education

### Now lets visualize and compare between working class and education:

In [ ]:
fig, ax = plt.subplots()
fig.set_size_inches(7,10)
sns.barplot(data= workingclass, x= 'Age', y='Work Class')

Variety of age groups for each working class. Individuals who have never worked are youngest, I am assuming after that age, they just have to work.

In [ ]:
fig, ax = plt.subplots()
fig.set_size_inches(7,10)
sns.barplot(data= education, x= 'Age', y='Education')

Variety of age levels fro each education level. Mostly from around 32- 48

This comparison is very broad and doesnt really lead to me to any answers of my questions

### Lets compare Salary with Age & hours/week:

In [ ]:
fig, ax = plt.subplots()
fig.set_size_inches(8,3)
sns.barplot(data= df, x= 'Age', y='Salary')

In [ ]:
fig, ax = plt.subplots()
fig.set_size_inches(8,3)
sns.barplot(data= df, x= 'Hours/Week', y='Salary')

In [ ]:
salary = (df.groupby('Salary')['Age', 'Hours/Week'] .mean() .reset_index())

In [ ]:
salary

In conclusion to the previous two graphs and this average here, older indviduals earn more and individuals who work more hours earn more. So to increase your salary over 50k/year, you must work more hours based on this dataset.

# Analysis

#### Based on this dataset, and based on our EDA: 
####        - The older you are the more hours you work.
####        - Age and hours worked vary greatly in this dataset.
####        - This dataset consists of more people in the range 20-45
####        - The majority average of hours/week individuals in this datset work is 40 hours/week
####        - The average hours worked per week for each Occupation is in the range of 30-40 hours/week
####        - The average ages for each Occupation is within 30-41 years of age
####        - Throughout all Working classes, average hours worked is around 40 hours/week. However, we see that both self    employed options do work more than 40 hours/week more than other working classes. 
####        - This dataset shows that men worked more than women
####        - This dataset shows that older individuals make more.

# Answering Research Questions: 

### Question 1)  What is the correlation between the Working class of individuals in this dataset, and the hours they work per week? 

#### Through our analysis, we can see that throughout all Working classes, average hours worked is around 40 hours/week. However, we see that both self employed options do work more than 40 hours/week more than other working classes. This can be do to many factors, they can be working more due to more motivation, they are more driven. They may be working more because they realize that if they work more, their income will be significantly higher. It was shocking to see that some individuals do work up to 99 hours per week!

### Question 2) Lets compare Gender with hours/week. We will also consider the age level for more accurate comparisons.

#### Through looking at selected data for comparison from our EDA, we can conclude that men in this dataset worked more than women. However, the average age for men in this dateset is higher than the average age for women. 

### Question 3) What is the correlation between Salary and Age Level & Hours worked/Week?

#### Based on this dataset, we can say that individuals who worked more hours, with the average of 45 hours per week, earned more. Also, older individuals, with the average age of 44 earned over 50k/year. Individuals averaged age of 36 and working around 38 hours per week earned less than 50k/year.

# Conclusion

#### Through this Exploratory Data Analysis that I conducted, and after exploring many factors from this dataset I can conclude that the average most individuals work is 40 hours/week, the more hours you work, the greater your salary.