In [7]:
from Scripts.function import load_process

In [8]:
df = load_process("../data/raw/adult.data")

In [9]:
df

,Age,Work Class,Education,Occupation,Relationship,Race,Sex,Hours/Week,Native Country,<=50K
0,50,Self-emp-not-inc,Bachelors,Exec-managerial,Husband,White,Male,13,United-States,<=50K
1,38,Private,HS-grad,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
2,53,Private,11th,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K
3,28,Private,Bachelors,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K
4,37,Private,Masters,Exec-managerial,Wife,White,Female,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,Assoc-acdm,Tech-support,Wife,White,Female,38,United-States,<=50K
32556,40,Private,HS-grad,Machine-op-inspct,Husband,White,Male,40,United-States,>50K
32557,58,Private,HS-grad,Adm-clerical,Unmarried,White,Female,40,United-States,<=50K
32558,22,Private,HS-grad,Adm-clerical,Own-child,White,Male,20,United-States,<=50K
32559,52,Self-emp-inc,HS-grad,Exec-managerial,Wife,White,Female,40,United-States,>50K

In [4]:
df.isna().sum() #to see how many na or missing values there are in each column

Age               0
Work Class        0
Education         0
Occupation        0
Relationship      0
Race              0
Sex               0
Hours/Week        0
Native Country    0
 <=50K            0
dtype: int64

In [5]:
#data cleaning
df.columns

Index(['Age', 'Work Class', 'Education', 'Occupation', 'Relationship', 'Race',
       'Sex', 'Hours/Week', 'Native Country', ' <=50K'],
      dtype='object')

In [10]:
df = df.drop([' 77516',' Never-married',' 2174',' 13'], axis =1 )

KeyError: "[' 77516' ' Never-married' ' 2174' ' 13'] not found in axis"

In [ ]:
df

In [ ]:
df = df.rename(columns= {'39': 'Age'})
df = df.rename(columns= {' Bachelors': 'Education'})
df = df.rename(columns={' State-gov': 'Work Class'})
df = df.rename(columns= {' Adm-clerical': 'Occupation'})
df = df.rename(columns= {' Not-in-family': 'Relationship'})
df = df.rename(columns= {' White': 'Race'})
df = df.rename(columns= {' Male': 'Sex'})
df = df.rename(columns= {' 40': 'Hours/Week'})
df = df.rename(columns= {' United-States': 'Native Country'})

In [ ]:
df